@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

h1,
h2 {
	padding: 0;
	margin: 0;
}

/* GLOBAL */
.container {
	max-width: 1200px;
	padding: 0 40px;
	margin: 0 auto;
}

.grid {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.underlined {
	text-decoration: underline;
}

.title {
	text-align: center;
}

.subtitle {
	text-align: center;
}

.image__container {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.link:hover {
	text-decoration: underline;
}

.filter-gray {
	filter: grayscale(80%);
}

/* CARD */
.card__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 50px 0;
}

.card__description {
	max-width: 400px;
	text-align: center;
}

.card__image-container {
	width: 200px;
	height: 200px;
	background-color: lightgray;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.card__gallery {
	margin-top: 30px;
}

/* BUTTON-Link */
.button-link {
	padding: 10px 20px;
	background-color: cornflowerblue;
	color: white;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

.button-link:hover {
	background-color: blue;
}

/* HOME */
.home {
	padding: 40px 0;
}

.home__description {
	text-align: center;
}

.home__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
}

.home__card {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 20px 10px;
	border-radius: 5px;
	text-align: center;
	transition: background-color 0.3s ease;
}

.home__card:hover {
	background-color: #f0f9ff;
}

.home__card-image-container {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	background-color: lightgray;
}

.home__card-name {
	font-weight: bold;
}

/* FOOTER */
.footer {
	background-color: lightgray;
	font-size: 14px;
}

.footer__container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* GALLERY */
.gallery {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	background-color: #f0f9ff;
	padding: 30px;
	border-radius: 20px;
}

.gallery__main-image {
	display: block;
	grid-row: span 2;
	height: 400px;
	width: 300px;
}

.gallery__main-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.gallery__description {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.card__description-text {
	text-align: center;
}

.gallery__photos {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.gallery__photos-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.gallery__photos-container img {
	height: 100px;
	width: 70px;
	object-fit: cover;
	cursor: pointer;
	border-radius: 10px;
	-webkit-user-drag: none;
}
